.menu {

	&__trigger {
			display: flex;
			align-items: center;
			position: relative;
			cursor: pointer;
			font-size: $fontSize;
			margin: 1em;
			.item {
				transition: all .5s;
				display: block;
				width: 100%;
				position: absolute;
				height: $height;
				background: $bgcColor;
				border-radius: $borderRadius;
				&:nth-child(1) {
					top: 0;
				}
				&:nth-child(3) {
					bottom: 0;
				}
			}
			&.open {
				.item {
					&:nth-child(1) {
						top: 42%;
						transform: rotate(45deg);
					}
					&:nth-child(2) {
						opacity: 0;
						margin-left: 2em;
					}
					&:nth-child(3) {
						bottom: 42%;
						transform: rotate(-45deg);
					}
				}
			}
	}

	background-color: red;
	display: flex;

	&__logo {

	}

	&__container {
	}

	&__item {

	}

	&__link {

	}
}



