* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body { overflow-x: hidden; }

html { font-size: 16px; }

ul { list-style: none; }

img {
	max-width: 100%;
	display: block;
}

p { color: $white; }

a {
	text-decoration: none;
	display: block;
	color: $white;
}

h1 { text-align: center; color: $white; }